---
import Section from '../../layouts/Section.astro';
import headerOne from '../../assets/casos-1.jpg';
import headerTwo from '../../assets/casos-2.jpg';
import SocialCard from './SocialCard.astro';
---

<Section
  title="Últimos casos na mídia"
  sectionClass="bg-base-300 shadow-inner"
  titleClass="text-primary"
  borderClass="border-black mx-auto text-center px-3"
  id="midia"
>
  <div
    class="flex pt-4 flex-col justify-center items-center gap-6 md:gap-20 md:flex-row md:items-stretch lg:justify-evenly"
  >
    <SocialCard
      image={headerOne}
      title="Homem que baleou próprio tio vai a júri em Passo Fundo"
      href="https://rduirapuru.com.br/homem-que-baleou-proprio-tio-em-2016-vai-a-juri-em-passo-fundo/"
      alt="Foto de Gustavo em sessão de júri"
    />
    <SocialCard
      image={headerTwo}
      title="Acusado de dupla tentativa de homicídio ocorrido é absolvido pelo Júri em Passo Fundo"
      href="https://rduirapuru.com.br/direto-do-tribunal-acusado-de-dupla-tentativa-de-homicidio-ocorrido-em-2016-e-absolvido-pelo-juri-em-passo-fundo/"
      alt="Foto de Gustavo em sessão de júri"
    />
  </div>
</Section>
