---
import Profile from '../components/Profile/Profile.astro';
import Social from '../components/Profile/Social.astro';
import WorkAreas from '../components/WorkAreas/WorkAreas.astro';
import Header from '../layouts/Header.astro';
import Layout from '../layouts/Layout.astro';
import Steps from '../components/Steps/Steps.astro';
---

<Layout title="Gustavo Z. Trentin - Advocacia Criminal">
  <Header />
  <main>
    <Social/>
    <Profile/>
    <WorkAreas/>
    <Steps/>
  </main>
</Layout>
