---
import Profile from '../components/Profile.astro';
import Social from '../components/Social.astro';
import WorkAreas from '../components/WorkAreas.astro';
import Header from '../layouts/Header.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Gustavo Z. Trentin - Advocacia Criminal">
  <Header />
  <main>
    <Social/>
    <Profile/>
    <WorkAreas/>
  </main>
</Layout>
