---
import Section from '../../layouts/Section.astro';
import { TelephoneIcon } from '../Steps/Icons/TelephoneIcon';
import { WhatsappIcon } from '../Steps/Icons/WhatsappIcon';
---

<Section
  title="Contato"
  sectionClass="bg-primary-content shadow-inner"
  borderClass="border-primary"
  titleClass="text-primary"
>
  <div class="py-6 flex flex-col justify-center items-center">
    <div
      class="bg-gradient-to-tr from-neutral-200 to-base-300 rounded-md w-fit px-10 py-4 flex flex-col justify-center items-center gap-4 shadow-md mx-auto"
    >
      <h3 class="font-semibold text-lg">Celular</h3>
      <a href="tel:+5554999869982" class="btn btn-primary text-lg"
        ><TelephoneIcon />(54) 99986-9982</a
      >
      <a href="https://wa.me/5554999869982" class="btn btn-success text-lg"
        ><WhatsappIcon />(54) 99986-9982</a
      >
      <p>Em caso de urgência, favor ligar.</p>
    </div>
  </div>
</Section>
<Section
  title="Escritório"
  sectionClass="bg-gradient-to-b from-neutral-600 to-accent"
  borderClass="border-primary-content"
  titleClass="text-primary-content"
>
  <div class="py-6 flex items-center justify-center">
    <div class="border-2 border-solid border-white shadow-sm flex-1">
      <iframe
        title="Localização no Google Maps"
        src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d5264.3505323182335!2d-52.40919452589073!3d-28.263897671458263!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94e2bffb9c8a43a5%3A0x5ec9d0d816ff9cb1!2sGustavo%20Z.%20Trentin%20Advocacia%20Criminal!5e0!3m2!1spt-BR!2sbr!4v1723946474164!5m2!1spt-BR!2sbr"
        width="100%"
        height="350"
        style="border:0;"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
  </div>
</Section>
