---
import Section from '../../layouts/Section.astro';
import { TelephoneIcon } from '../Steps/Icons/TelephoneIcon';
import { WhatsappIcon } from '../Steps/Icons/WhatsappIcon';
import Card from './Card.astro';
import GmailIcon from './GmailIcon.astro';
import InstagramIcon from './InstagramIcon.astro';
---

<div class="flex flex-col">
  <Section
    title="Contato"
    sectionClass="bg-primary-content shadow-inner flex-1"
    borderClass="border-primary"
    titleClass="text-primary"
    id="contato"
  >
    <div class="py-6 flex flex-wrap gap-6 justify-center">
      <Card title="Celular">
        <a
          href="tel:+5554999869982"
          class="btn btn-accent hover:bg-primary hover:!shadow-md text-lg"
          ><TelephoneIcon />(54) 99986-9982</a
        >
      </Card>
      <Card title="Whatsapp">
        <a
          href="https://wa.me/5554999869982"
          class="btn btn-success outline-black hover:!shadow-md text-lg"
          ><WhatsappIcon />(54) 99986-9982</a
        >
      </Card>
      <Card title="Email">
        <a
          href="mailto:gustavoztrentin.adv@gmail.com"
          class="btn bg-white hover:bg-neutral-50 hover:shadow-md hover:text-primary text-lg my-auto"
          ><div class="text-red-500">
            <GmailIcon />
          </div>gustavoztrentin.adv@gmail.com</a
        >
      </Card>
      <Card title="Instagram">
        <div class="flex-1 h-full">
          <a
            href="https://instagram.com/gztrentin"
            class="btn bg-white hover:bg-neutral-50 hover:shadow-md hover:text-primary text-lg my-auto"
            ><div class="text-orange-500">
              <InstagramIcon />
            </div>@gztrentin</a
          >
        </div>
      </Card>
    </div>
    <p class="text-sm font-bold w-fit">Em caso de urgência, favor ligar.</p>
  </Section>
  <Section
    title="Escritório"
    sectionClass="bg-gradient-to-b from-neutral-600 to-accent flex-1"
    borderClass="border-primary-content"
    titleClass="text-primary-content"
    id="mapa-escritorio"
  >
    <div class="py-6 flex items-center justify-center">
      <div class="border-2 border-solid border-white shadow-sm flex-1">
        <iframe
          title="Localização no Google Maps"
          src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d5264.3505323182335!2d-52.40919452589073!3d-28.263897671458263!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94e2bffb9c8a43a5%3A0x5ec9d0d816ff9cb1!2sGustavo%20Z.%20Trentin%20Advocacia%20Criminal!5e0!3m2!1spt-BR!2sbr!4v1723946474164!5m2!1spt-BR!2sbr"
          width="100%"
          height="350"
          style="border:0;"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
    </div>
  </Section>
</div>
