---
import Section from "../../layouts/Section.astro";
import StepOne from "./StepOne.astro";
import StepsAnimation from "./StepsAnimation.astro";
import StepsLayout from "./StepsLayout.astro";
import StepTwo from "./StepTwo.astro";
---

<Section title="Como funciona" sectionClass="bg-base-200 cards-section" titleClass="text-primary" borderClass="border-primary" containerClass="min-h-[90vh] flex flex-col">
  <StepsLayout>
  </StepsLayout>
</Section>