---
import TelephoneIcon from "../TelephoneIcon.astro";
import WhatsappIcon from "../WhatsappIcon.astro";
import StepCard from "./StepCard.astro";
---

<StepCard title="Contato Inicial">
  <p class="mx-0 pt-4">Neste primeiro momento, você entra em contato comigo e me fala do seu caso para começarmos com um possível trabalho de defesa. Você pode:</p>
  <div class="flex w-full flex-col lg:flex-row pt-4">
    <div class="basis-1/2 card bg-base-200 rounded-box flex flex-col flex-grow items-center justify-between gap-4 py-4">
      <h4 class="font-medium">Me ligar</h4>
      <a class="btn btn-primary" href="tel:+5554999869982"><TelephoneIcon/>(54) 99986-9982</a>
      <p class="text-center">Especialmente em caso de <span class="text-red-500 font-semibold">urgência</span></p>
    </div>
    <div class="divider lg:divider-horizontal">ou</div>
    <div class="basis-1/2 card bg-base-200 rounded-box flex flex-col flex-grow items-center justify-between gap-4 py-4">
      <h4 class="font-medium">Me mandar uma mensagem</h4>
      <div class="chat chat-end">
        <div class="chat-bubble text-sm">Olá Gustavo. Preciso da tua ajuda para me defender...</div>
      </div>
      <a href="https://wa.me/5554999869982" target="_blank" class="btn btn-success">
        <WhatsappIcon/>Meu Whatsapp</a>
    </div>
  </div>
</StepCard>