---
interface Props {
  title: string
}

const {title} = Astro.props as Props;
---

<div class="step-card w-full flex-shrink-0">
  <div class="bg-white max-w-4xl p-6 text-left mx-auto">
    <h3 class="font-semibold text-base lg:text-2xl">{title}</h3>
    <slot/>
  </div>
</div>