<div class="bg-primary-content w-fit rounded-md p-3 mb-4" aria-label="Barra de progresso da seção">
  <ol class="steps gap-x-3">
    <li class="step step-primary">Contato Inicial</li>
    <li class="step">Avaliação</li>
    <li class="step">Defesa</li>
  </ol>
</div>