---
import StepsAnimation from './StepsAnimation.tsx';
---

<div
  class="flex flex-col items-center bg-gradient-to-b from-neutral-100 to-neutral-200"
  id="como-funciona"
>
  <StepsAnimation client:idle />
</div>
