---
import { Image } from "astro:assets";
import StepCard from "./StepCard.astro";
import Foto from  '../../assets/perfil.webp'
---

<StepCard title="Avaliação">
  <p class="mx-0 pt-4">Depois do contato inicial, posso te dar as melhores instruções possíveis para o seu caso e já agir imediatamente. Também é possível que marquemos um primeiro encontro (sem compromisso) para discutirmos com mais profundidade a situação e eu te informar um orçamento.</p>
  <div class="flex w-full flex-col lg:flex-row pt-4">
    <div class="basis-1/2 card bg-base-200 rounded-box flex flex-col flex-grow items-center justify-center gap-4 p-4">
      <h4 class="font-medium">Caso urgente</h4>
      <div class="chat chat-end">
        <div class="chat-image avatar">
          <div class="w-10 rounded-full">
            <Image
              alt="Foto de Gustavo"
              src={Foto}/>
          </div>
        </div>
        <div class="chat-bubble text-sm">Fique em silêncio e aguarde minha chegada. Estou a caminho da sua delegacia.</div>
      </div>
    </div>
    <div class="divider lg:divider-horizontal"></div>
    <div class="basis-1/2 card bg-base-200 rounded-box flex flex-col flex-grow items-center justify-center gap-4 p-4">
      <h4 class="font-medium">Contato pelo Whatsapp</h4>
      <div class="chat chat-start">
        <div class="chat-image avatar">
          <div class="w-10 rounded-full">
            <Image
              alt="Foto de Gustavo"
              src={Foto}/>
          </div>
        </div>
        <div class="chat-bubble text-sm">Certo, agradeço pelo contato. Já podemos tomar algumas providências. Você poderia vir ao meu escritório amanhã pela tarde?</div>
      </div>
    </div>
  </div>
</StepCard>