---
import Section from "../layouts/Section.astro";
import perfilImg from '../assets/perfil.webp'
import escritImg from '../assets/temp-escritório.jpg'
import { Image, Picture } from "astro:assets";
---

<Section title="O escritório" sectionStyles="bg-gradient-to-b from-red-800 to-red-900">
  <div class="flex w-full flex-col items-center justify-center gap-4 md:flex-row md:gap-40">
    <p class="text-white lg:text-2xl"><span class="font-semibold">Gustavo Trentin - Advocacia Criminal</span> é um escritório especializado em Direito e Processo Penal, com atuação completa em todas as fases do processo e do inquérito policial.</p>
    <div class="flex-shrink-0 basis-1/2 lg:ml-auto">
      <Picture src={escritImg} formats={['webp']} alt="Foto do escritório." pictureAttributes={{class: "escrit-image"}}/>
    </div>
  </div>
</Section>
<div class="bg-gradient-to-b from-red-900 to-red-950 text-white py-8 shadow-inner">
  <div class="py-4 md:py-6 bg-base-300">
    <div class="w-fit mx-auto">
      <Image src={perfilImg} alt="Foto de Gustavo em sessão de júri. Ele é loiro, branco, usa um terno preto e uma toga preta por cima." class="perfil-image"/>
    </div>
    <p class="font-serif font-semibold text-center bg-base-100 text-primary py-4 px-12 shadow-lg">Gustavo Zanette Trentin é Advogado Criminalista, pós-graduado em Direito Penal e Criminologia pela PUC/RS.
    </p>
  </div>
</div>

<style>
  .escrit-image img{
    object-fit: cover;
  }

  .perfil-image {
    max-height: 200px;
    max-width: 340px;
    object-fit: cover;
    object-position: center 55%;
  }

  @media screen and (min-width: 1024px) {
    .perfil-image {
      max-width: 550px;
    }
  }
</style>