---
import { Image } from "astro:assets";
import Section from "../layouts/Section.astro";
import headerOne from  '../assets/casos-1.jpg';
import headerTwo from  '../assets/casos-2.jpg';
---

<Section title="Casos na mídia" sectionClass="bg-base-300 shadow-inner" titleClass="text-primary" borderClass="border-black mx-auto text-center px-3">
  <div class="flex pt-4 flex-col justify-center items-center gap-6 md:gap-20 md:flex-row md:items-stretch lg:justify-evenly">
    <article class="card bg-base-100 max-w-96 shadow-xl">
      <Image
      src={headerOne}
      alt="Test"
      width={900}
      height={144}
      class='max-h-36 object-cover object-[center_35%]'
      />
      <div class="card-body p-4">
        <h3 class="card-title">Homem que baleou próprio tio em 2016 vai a júri em Passo Fundo</h3>
        <a href="https://rduirapuru.com.br/homem-que-baleou-proprio-tio-em-2016-vai-a-juri-em-passo-fundo/" target="_blank" class="link link-hover underline-offset-4 text-sm md:text-base mt-auto">Leia mais</a>
      </div>
    </article>
    <article class="card bg-base-100 max-w-96 shadow-xl">
      <Image
      src={headerTwo}
      alt="Test"
      width={900}
      height={144}
      class='max-h-36 object-cover object-[center_35%] grayscale'
      />
      <div class="card-body p-4">
        <h3 class="card-title">Acusado de dupla tentativa de homicídio ocorrido em 2016 é absolvido pelo Júri em Passo Fundo
        </h3>
        <a href="https://rduirapuru.com.br/direto-do-tribunal-acusado-de-dupla-tentativa-de-homicidio-ocorrido-em-2016-e-absolvido-pelo-juri-em-passo-fundo/" target="_blank" class="link link-hover underline-offset-4 text-sm md:text-base mt-auto">Leia mais</a>
      </div>
    </article>
  </div>
</Section>