---
import { Image } from 'astro:assets';
import Logo from '../assets/logo-gzt-white.svg';

const year = new Date().getFullYear().toString();
---

<footer
  class="bg-primary text-primary-content flex flex-col md:flex-row justify-center items-center py-6"
>
  <div class="flex-1 flex flex-col justify-center items-center">
    <Image src={Logo} alt="" class="w-[90px]" />
    <p class="text-center font-bold text-sm font-serif">
      © {year} Gustavo Zanette Trentin
      <span class="block">Todos os direitos reservados</span>
    </p>
  </div>
  <div class="flex-1">
    <address class="font-normal text-center font-serif not-italic py-4">
      <span class="block py-4"
        >Telefone: <a href="tel:+555499986-9982">(54) 99986-9982</a></span
      >
      R. General Osório, 937, Sala 204, Centro <br />
      Passo Fundo - RS <br />
      CEP: 99010-140
    </address>
  </div>
</footer>
