---
import ArrowIcon from '../components/ArrowIcon.astro';
import Navbar from '../components/Navbar.astro';
import Typewriter from '../components/Typewriter.astro';
---

<header class="flex flex-col">
  <Navbar />
  <div class="pt-52 pb-28 px-1 md:pt-64 md:pb-52 flex flex-col justify-center gap-20">
    <h1 class="text-center text-primary text-[1.6rem] leading-normal font-serif font-bold sm:text-4xl/normal md:text-5xl/normal mx-auto max-w-[24ch]">Uma boa defesa pode 
      <span class="text-red-600">mudar</span> o rumo da sua vida
    </h1>
    <div class="mx-auto p-1 bg-base-200 min-w-48 text-center opacity-50 -z-10">
      <Typewriter/>
    </div>
  </div>
  <div class="bg-gradient-to-br from-base-100 via-base-200 to-base-300 text-center py-14 px-4 lg:py-20">
    <p class="font-medium text-lg md:text-xl">Com uma análise
      <span class="font-bold">detalhada</span> do seu caso, meu objetivo como advogado criminal é elaborar a melhor estratégia para superar essa situação.</p>
    <a class="btn btn-primary mt-6 lg:hidden w-fit mx-auto" href="/">Entre em contato <ArrowIcon />
    </a>
  </div>
</header>
