---
interface Props {
  title: string;
  sectionClass?: string;
  titleClass: string;
  borderClass: string;
  containerClass?: string;
  id: string;
}
const { title, sectionClass, titleClass, borderClass, containerClass, id } =
  Astro.props as Props;
---

<section class:list={['py-8 px-4', sectionClass]} id={id}>
  <div class:list={['lg:container', containerClass]}>
    <div
      class:list={['w-fit border-b-2 border-solid py-4 pr-3 mb-4', borderClass]}
    >
      <h2
        class:list={[
          'text-xl font-semibold font-serif lg:text-3xl',
          titleClass,
        ]}
      >
        {title}
      </h2>
    </div>
    <slot />
  </div>
</section>
